<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <% for(q=0; q!=5; q++){ %>
            <h3> <%= question[q] %> </h3>
            <p> <%= optionA[q] %> </p>
            <p> <%= optionB[q] %> </p>
            <p> <%= optionC[q] %> </p>
            <p> <%= optionD[q] %> </p>
        <% } %>
    </body>
</html>